<!DOCTYPE HTML>
<html>
	<head>
		<title>5-n-dime</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="./" class="logo">5-n-dime</a>
					<nav id="nav">
						<a href="#">About</a>
						<a href="#">Add Shop</a>
						<a href="#">Shop Now</a>
						<a href="#">Donate</a>
						<a href="#">Contact Us</a> 
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


		<!-- contactus -->
		<section id="contactus">
			<div class="inner">
				<header>
					<h2>CONTACT US<br><br></h2>
				</header>
				<div class="copyright">
					&copy; 2020  <a href =" "><span class="icon fa-envelope-o "></span> minions</a>  
					<br> Contributers: <a href=""><span class="icon fa-linkedin"></span> Aman Kr Singh</a>. <a href=""><span class="icon fa-linkedin"></span> Pranjul Pal</a>. <a href="https://www.linkedin.com/in/roopam-mishra-713583189/"><span class="icon fa-linkedin"></span> Roopam Mishra</a>. <a href="https://www.linkedin.com/in/sonali-singh-16m/"><span class="icon fa-linkedin"></span> Sonali Singh</a>
				</div>
			</div>
		</section>

		<!-- Scripts -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>			
	</body>
</html>